.aboutme-container {
  background: linear-gradient(to bottom right, white 50%, #2b4159 50% 100%);
  background-repeat: no-repeat;
  min-height: 150vh; 
}

.content-container {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.5); 
  padding: 20px;
  border-radius: 10px;
}

.text-container {
  margin: 50px auto; 
  max-width: 60%;
  background-color: #fffaef ;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.2); 
  padding: 2rem;
  border-radius: 15px;

}

.headline, .description-text {
  color: #2b4159;
}

.view-more-button {
  margin: 30px 30px; 
}
.subheading {
  font-size: 2rem;
  color: #2b4159;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 0px; 
}


.description-list {
  margin: 15px;
  list-style-type: disc; 
  color: #2b4159; 
  padding-left: 40px; 
}

.accent-text {
  color: #C9A959;
}

.view-more-button {
  background-color: #2b4159;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.view-more-button:hover {
  background-color: #C9A959;
}
