.fc .fc-col-header-cell-cushion {
    color: #2b4159 !important; 
    text-decoration: none !important;
  }
  
  .fc .fc-event-title, 
  .fc .fc-event-time {
    color: #2b4159 !important;
    text-decoration: none !important;
  }
  
  .fc .fc-daygrid-day-number {
    color: #2b4159 !important;
    text-decoration: none !important;
  }
  

  .fc .a {
    cursor: default !important; 
    text-decoration: none !important; 
  }
  

  .fc-today-button {
    cursor: pointer !important;
  }
  