/* NavbarStyles.css */
.navbar {
  padding-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 50px;
  position: relative;
}

.navbar-logo {
  width: 120px;
  height: auto;
  border-radius: 50%;
  order: 2;
}

.navbar-brand {
  font-size: 24px;
  color: #2b4159;
  font-weight: bold;
  display: none;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 16px;
}

.navbar-menu button {
  background-color: transparent;
  color: #C9A959;
  padding: 20px;
  border: none;
  border-radius: 0; 
  cursor: pointer;
  text-transform: uppercase;
  font-size: larger;
  font-weight: 600;

}

.active-link {
  text-decoration: underline;
  color: #C9A959;
}

.navbar-menu li {
  margin-bottom: 0px; 
}

@media (min-width: 200000px) { 
  .navbar-menu li {
    margin-bottom: 0;
  }
}

.navbar-container::after {
  content: "";
  position: absolute;
  right: 1%;
  top: 0;
  bottom: 0;
  width: 53%; 
  background-color: #2b4159; 
  transform: skewX(-20deg); 
  z-index: -1; 
}

.navbar {
  padding-top: 20px;
  width: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

