.btn-primary{
    background-color: #007bff;
}

.ant-btn-primary {
    background-color: #00458b;
    border-color: #00458b;
}

.profile-container {
    background: #fff;
    border-radius: 8px;
}

.profile-container h2 {
    font-size: 2rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 1rem;
}

.profile-container .ant-row {
    margin-bottom: 1rem;
}

.profile-container .ant-form-item {
    margin-bottom: 0.5rem;
}

.profile-container .ant-input {
    border-radius: 4px;
}

.profile-container .ant-btn-primary {
    background-color: #1890ff;
    border-color: #1890ff;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
}
.profile-main-container{
    border: 1px solid #ccc;
    border-radius: 7px;
    margin: 8px 48px;
}

.profile-heading{
    font-size: 15px;
    text-align: center;
    background-color: #fafafa;
    border-bottom: 1px solid #ccc;
    height: 50px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    margin: 0 !important;
}

.profile-main-container .form-btn{
    width: clamp(4.688rem, 11.867vw - 1.009rem, 9.375rem);
}
